{{page-title "Shrimp Calendar"}}
<marquee>
  <h2 id="title">Shrimp Calendar</h2>
</marquee>

<ShrimpCalendar @events={{this.events}} as |event|>
  <div>
    {{event.title}}
  </div>
</ShrimpCalendar>
